doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=1.0')
  title HHG
  // Montserrat Font
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
  // Material Icons
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons+Outlined' rel='stylesheet')
  // Custom CSS
  link(rel='stylesheet' href='/css/dashboard.css')
  link(rel='icon' href='/img/logo7.png')
.grid-container
  // Header
  header.header
    .menu-icon(onclick='openSidebar()')
      span.material-icons-outlined menu
    //
      <div class="header-left">
      <span class="material-icons-outlined">search</span>
      </div>
      <div class="header-right">
      <span class="material-icons-outlined">notifications</span>
      <span class="material-icons-outlined">email</span>
      <span class="material-icons-outlined">account_circle</span>
      </div>
  // End Header
  // Sidebar
  aside#sidebar
    .sidebar-title
      .sidebar-brand
        // <span class="material-icons-outlined">shopping_cart</span> STORE
      span.material-icons-outlined(onclick='closeSidebar()') close
    ul.sidebar-list
      li.sidebar-list-item
        a(href='#' target='')
          span.material-icons-outlined dashboard
          |  Dashboard
      li.sidebar-list-item
        a(href='/stock')
          span.material-icons-outlined inventory_2
          |  Inventory
      //
        <li class="sidebar-list-item">
        <a href="#" target="_blank">
        <span class="material-icons-outlined">category</span> Categories
      //
        </a>
        </li>
      //- li.sidebar-list-item
      //-   a(href='/data' target='_blank')
      //-     span.material-icons-outlined groups
      //-     |  User Management
      //- li.sidebar-list-item
      //-   a(href='/produceList' target='_blank')
      //-     span.material-icons-outlined fact_check
      //-     |  Procurement Records
      li.sidebar-list-item
        a(href='#' target='_blank')
          span.material-icons-outlined poll
          |  Reports
      li.sidebar-list-item
        a(href='/landing' target='_blank')
          span
          |  Log out
  // End Sidebar
  // Main
  main.main-container
    .main-title
      h2 DASHBOARD
    .main-cards
      .card
        .card-inner
          h3 PROCUREMENT
          span.material-icons-outlined inventory_2
        a(href='/procurement')
          button(type='button') ADD
      .card
        .card-inner
          h3 SALES
          span.material-icons-outlined category
        a(href='/sale')
          button(type='button') ADD
      .card
        .card-inner
          h3 CREDIT SALES
          span.material-icons-outlined category
        a(href='/sale')
          button(type='button') ADD
      .card
        .card-inner
          h3  USERS
          span.material-icons-outlined groups
        a(href='/credit')
        a(href='/data')
          button(type='button') VIEW
    .charts
      .charts-card
        h2.chart-title Our Products
        #bar-chart
      .charts-card
        h2.chart-title(style='text-align: center;') Procurement and Sales Records
        #area-chart
  // End Main
// Scripts
// ApexCharts
script(src='https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js')
// Custom JS
script(src='/js/dashboard.js')
