doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Groceries
  link(rel='icon' href='/img/logo7.png')
  style.
    body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    }
    /* Basic body styles */
     body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/img/landing2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    }
    /* Header styles */
    header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #b948e2;
    color: #fff;
    }
    .logo h1 {
    margin-left: 20px;
    }
    /* Button styles */
    .buttons {
    margin-right: 20px;
    }
    .btn {
    text-decoration: none;
    color: #fff;
    background-color: #228B22;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
    }
    .btn:hover {
    background-color: #1e7c1e;
    }
    /* Main hero section styles */
    .hero-section {
    text-align: center;
    margin-top: 100px;
    }
    .hero-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    }
    .hero-section p {
    font-size: 1.2rem;
    color: #555;
    }
    .icon {
    width: 400px;
    height: 400px;
    align-items: center;
    align-content: center;
    padding-left: 150px;
    }
header
  .logo
    h1 HHG  
  .buttons
    a.btn(href='/login') Login
    a.btn(href='/register') Sign Up
    a.btn(href='/stock') View Stock
main
  img.icon(src='/img/logo7.png' alt='icon')
  .hero-section
    h2 Welcome to Happy Hoe Grocery Ltd.
