doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Groceries
  link(rel='stylesheet' href='/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap.css')
  style.
    table {
    border-collapse: collapse;
    width: 100%;
    }
    th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    }
    tr.low-stock {
    background-color: #ffcccc;
    }
    h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    }
    button[type="submit"] {
    padding: 10px 30px;
    /* margin: 20px 20px; */
    border: none;
    border-radius: 10px;
    background-color: #572150;
    color: #fff;
    cursor: pointer;
    }
    #update-button{
    padding: 10px 30px;
    /* margin: 20px 20px; */
    border: none;
    border-radius: 10px;
    background-color: #572150;
    color: #fff;
    cursor: pointer;
    }
  nav.navbar.navbar-expand-lg.bg-body-tertiary
  .container-fluid
    a.navbar-brand(href='#')
      strong HAPPY HOE GROCERIES
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.active(aria-current='page' href='/dashboard1') Dashboard
        li.nav-item
          a.nav-link(href='/stock')  Stock Status
        //
          <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        //
          </li>
          <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
h1 Sales records
table#stock-table(action="stock")
  thead
    tr
      th Produce Name
      th Date
      th Agent Name
      th Action
      th Delete
  tbody
      if sales.length 
      each sale in sales 
        tr 
          td #{sale.cropName}
          td #{sale.date}
          td #{sale.agentName}
          td 
            a#update-button(href='/updateSale/'+sale._id) Update
          td 
            form(method ="post" action = '/deleteSale') 
              input(type="hidden", placeholder="", name="id", value=sale._id)
              button#delete_button(type='submit') Delete 
          td 
            button#update-button(href='/receipt/'+sale._id) Generate receipt 
      else 
          p No sale yet 
script(src='/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/js/bootstrap.js')


